STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# Payments
RAZORPAY_ID=
RAZORPAY_SECRET=
RAZORPAY_ACCOUNT=
RAZORPAY_WEBHOOK_SECRET=

# Shiprocket
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_PICKUP_LOCATION=Primary
SHIPROCKET_WEBHOOK_SECRET=
SHIPROCKET_COD=false
MEDUSA_PUBLISHABLE_KEY=
DEFAULT_PICKUP_PINCODE=226202
